{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
    {% block stylesheets %}
        {{ parent() }}

    {% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <!-- SLIDER -->
    <style>.box-img img {
            width: 100%; /* Ensure the image takes the full width of its container */
            height: 200px; /* Define a fixed height for consistency */
            object-fit: cover; /* Maintain aspect ratio while covering the entire container */
            .gallery-img {
                width: 100%;
                height: 200px; /* Set the desired height */
                object-fit: cover; /* Maintain aspect ratio and cover container */
                border: 1px solid #ccc; /* Optional: Add a border for better appearance */
            }
            .carousel-image {
                height: 300px; /* Set the desired height */
                width: auto; /* Adjust width accordingly */
                object-fit: cover; /* Maintain image aspect ratio */
        }</style>
    <section class="section-slider height-v">

        <div id="index12" class="owl-carousel  owl-theme">
            {% for hotel in hotels %}

            {% for image in hotel.getHotelImages() %}

            <div class="item">
                <img src="{{ asset('uploads/hotel/' ~ image.hotelImagePath)}}" class="img-responsive" alt="Hotel Image">
                <div class="carousel-caption">
                    <p class="p-v2 v3"> <span class="line-t"></span>Enjoy and explore <span class="line-b"></span></p>
                </div>
            </div>
            {% endfor %}
            {% endfor %}

        </div>

        <div class="check-avail check-avail-v3">
            <div class="container">
                <div class="arrival date-title ">
                    <label>Arrival Date </label>
                    <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                        <label>
                            <input class="form-control" type="text">
                        </label>
                        <span class="input-group-addon"><img src="{{ asset('assets/images/Home-1/date-icon.png')}}" alt=""></span>
                    </div>
                </div>
                <div class="departure date-title ">
                    <label>Departure Date </label>
                    <div id="datepickeri" class="input-group date" data-date-format="dd-mm-yyyy">
                        <label>
                            <input class="form-control" type="text">
                        </label>
                        <span class="input-group-addon"><img src="{{ asset('assets/images/Home-1/date-icon.png')}}" alt=""></span>
                    </div>
                </div>
                <div class="adults date-title ">
                    <label>Adults</label>
                    <form>
                        <div class=" carousel-search">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle " data-toggle="dropdown" href="#">2</a>
                                <ul class="dropdown-menu">
                                    <li><a>1</a></li>
                                    <li><a>2</a></li>
                                    <li><a>3</a></li>
                                    <li><a>4</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="children date-title ">
                    <label>Children</label>
                    <form>
                        <div class=" carousel-search">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle " data-toggle="dropdown" href="#">2</a>
                                <ul class="dropdown-menu">
                                    <li><a>1</a></li>
                                    <li><a>2</a></li>
                                    <li><a>3</a></li>
                                    <li><a>4</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="find_btn date-title">
                    <div class="text-find">
                        Check
                        <br>Availability
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / SLIDER -->

    <!-- OUR-ROOMS-->
    <section class="rooms">
        <div class="container">
            <h2 class="title-room">Our Rooms</h2>
            <div class="outline"></div>
            <p class="rooms-p">When you host a party or family reunion, the special celebrations let you strengthen bonds.</p>
            <div class="wrap-rooms">
                <div class="row">
                    <div id="rooms" class="owl-carousel owl-theme">
                        {% for room in rooms|batch(3) %}
                            <div class="item">
                                {% for singleRoom in room %}
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                        <div class="wrap-box">
                                            <div class="box-img">
                                                {% for image in singleRoom.getImages() %}
                                                    <img src="{{ asset('uploads/rooms/' ~ image.getImageName()) }}" alt="Room Image">
                                                {% endfor %}
                                            </div>
                                            <div class="rooms-content">
                                                <h4 class="sky-h4">{{ singleRoom.getRoomType() }}</h4>
                                                <p class="price">{{ singleRoom.getPrice() }} / Per Night</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>

    <!-- END / ROOMS -->

    <!-- ABOUT-US-->
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                    <div class="about-centent">
                        <h2 class="about-title">About Us</h2>
                        <div class="line"></div>
                        {% for hotel in hotels %}
                        <p class="about-p">{{ hotel.description }}</p>
                        <a href=" " class="read-more">READ MORE </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                    <div class="about-img">
                        <div class="img-1">
                                {% for hotel in hotels %}
                                    {% set hotelImages = hotel.hotelImages|slice(1, 1) %}
                                    {% for key, image in hotelImages %}
                                            <img src="{{ asset('uploads/hotel/' ~ image.hotelImagePath) }}" class="img-responsive" alt="Image" style="height: 400px">
                                    {% endfor %}
                                {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- END/ ABOUT-US-->

    <!-- BEST -->
    <section class="best">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="{{ asset('assets/images/Home-1/about-icon-1.png')}}" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Master Bedrooms</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="{{ asset('assets/images/Home-1/about-icon-2.png')}}" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Sea View Balcony</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="{{ asset('assets/images/Home-1/about-icon-3.png')}}" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Pool & Spa</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="{{ asset('assets/images/Home-1/about-icon-4.png')}}" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Wifi Coverage</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="{{ asset('assets/images/Home-1/about-icon-5.png')}}" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">AwESOME pACKAGES</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="{{ asset('assets/images/Home-1/about-icon-6.png')}}" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">cLEANING eVERDAY</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="{{ asset('assets/images/Home-1/about-icon-7.png')}}" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">bUTFFET Breakfast</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="{{ asset('assets/images/Home-1/about-icon-8.png')}}" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Airport Taxi</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / BEST -->

    <!-- TESTIMONOALS -->
    <section class="testimonials">
        <div class="testimonials-h">
            <div class="testimonials-content">
                <div class="container">
                    <div id="testimonials" class="owl-carousel owl-theme">
                        <div class="item ">
                            <div class="img-testimonials">
                                <img src="{{ asset('assets/images/Home-1/about-testimonials-img.png')}}" alt=" "></div>
                            <p class="testimonials-p"><span>“</span>​‌ This is the only place to stay in Catalina! I have stayed in the cheaper hotels and they were fine, but this is just the icing on the cake! After spending the day bike riding and hiking to come back and enjoy a glass of wine while looking out your <span>​‌​‌”</span> ocean view window and then to top it all off...</p>
                            <h5 class="sky-h5">JULIA ROSE</h5>
                            <p class="testimonials-p1">From Los Angeles, California</p>
                        </div>
                        <div class="item">
                            <div class="img-testimonials"><img src="{{ asset('assets/images/Home-1/about-testimonials-img.png')}}" alt=" "></div>
                            <p class="testimonials-p"><span>“</span>​‌ Thisis the only place to stay in Catalina! I have stayed in the cheaper hotels and they were fine, but this is just the icing onthe cake! After spending the day bike riding and hiking to come back and enjoy a glass of wine while looking out your <span>​‌​‌”</span> ocean view window and then to top it all off...</p>
                            <h5 class="sky-h5">JULIA ROSE</h5>
                            <p class="testimonials-p1">From Los Angeles, California</p>
                        </div>
                        <div class="item">
                            <div class="img-testimonials">
                                <img src="{{ asset('assets/images/Home-1/about-testimonials-img.')}}" alt=" "></div>
                            <p class="testimonials-p"><span>“</span>​‌ This is the only place to stay in Catalina! I have stayed in the cheaper hotels and they were fine, but this is just the icing on the cake! After spending the day bike riding and hiking to come back and enjoy a glass of wine while looking out your <span>​‌​‌”</span> ocean view window and then to top it all off...</p>
                            <h5 class="sky-h5">JULIA ROSE</h5>
                            <p class="testimonials-p1">From Los Angeles, California</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / TESTIMONOALS -->




    <!-- OUR-GALLERY-->
    <section class="gallery-our">
        <div class="container-fluid">
            <div class="gallery">
                <h2 class="title-gallery">Our Gallery</h2>
                <div class="outline"></div>
                <ul class="nav nav-tabs text-uppercase">
                    <li class="active"><a data-toggle="tab" href="">Hotel & Ground</a></li>
                    <li><a data-toggle="tab" href="">Room/Suite </a></li>
                    <li><a data-toggle="tab" href="">Bathroom</a></li>
                    <li><a data-toggle="tab" href="">Dining</a></li>
                </ul>
                <br/>
                <div class="tab-content">
                    <div id="Hotel" class="tab-pane fade in active">
                        <div class="product ">
                            {% for hotel in hotels %}

                            <div class="row">
                                {% for image in hotel.getHotelImages() %}
                                    {% if loop.index <= 9 %} {# Limit to the first nine images #}
                                        <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                            <div class="wrap-box">
                                                <div class="box-img" style="box-sizing: content-box">
                                                    <img src="{{ asset('uploads/hotel/' ~ image.hotelImagePath)}}" class="img-responsive gallery-img" alt="Product" title="images products" style="width: 100%; height: 200px; object-fit: cover; border: 1px solid #ccc;">
                                                </div>
                                                <div class="gallery-box-main">
                                                    <div class="gallery-icon">
                                                        <a class="lightbox" href="{{ asset('uploads/hotel/' ~ image.hotelImagePath)}}" data-littlelightbox-group="gallery" title="Your Image Title"><i class="ion-ios-plus-empty" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>



                        </div>
                        {% endfor %}

                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="product ">
                            <div class="row">
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-6.jpg')}}" class="img-responsive" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-2-2.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-7.jpg')}}" class="img-responsive" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-3-3.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/mages/Home-1/gallery-8.jpg')}}" class="img-responsive" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-4-4.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="product ">
                            <div class="row">
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-7.jpg')}}" class="img-responsive" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-2-2.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-8.jpg')}}" class="img-responsive" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-6-6.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <div class="product ">
                            <div class="row">
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-3.jpg" class="img-responsive')}}" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-2-2.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-4.jpg')}}" class="img-responsive" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-2-2.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-5.jpg" class="img-responsive')}}" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-2-2.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-6.jpg" class="img-responsive')}}" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-2-2.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-7.jpg')}}" class="img-responsive" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-2-2.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="{{ asset('assets/images/Home-1/gallery-8.jpg')}}" class="img-responsive" alt="Product" title="images products">
                                        </div>
                                        <div class="gallery-box-main">
                                            <div class="gallery-icon">
                                                <a class="lightbox " href="{{ asset('assets/images/Home-1/gallery-2-2.jpg')}}" data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty" aria-hidden="true" ></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end-tab-content -->
                <div class="text-center">
                    <button type="button" class="btn btn-default btn-our">VIEW MORE</button>
                </div>
            </div>
            <!-- /gallery -->
        </div>
        <!-- /container -->
    </section>
    <!-- END / OUR GALLERY -->
    {% block footer %}
        {{ parent() }}

    {% endblock %}

    <!-- END / FOOTER-->

    <!--SCOLL TOP-->
    <a href="#" title="sroll" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--END / SROLL TOP-->
    {% block javascripts %}
        {{ parent() }}

    {% endblock %}

{% endblock %}
